.hero
  &__introduction
      padding-top: 14.75rem
      padding-bottom: 50.25rem
      background: url('../img/hero_bg.png') no-repeat center / cover
  &__heading
    display: flex
    flex-direction: column
  &__title
    font-size: 6rem
    font-weight: 300
    &__info
      font-size: 2.8333rem
      font-weight: 300
  &__info
    max-width: 27rem
    margin-top: 2rem
    font-size: 14px
  &__block
    margin-top: 5.66rem
    max-width: 46rem
    display: flex
    justify-content: space-between
    align-items: center
    &__text
      font-size: 1.666rem
      max-width: 24rem 
  &__buttons
    display: flex
    flex-direction: column
  &__button
    padding: 18px 40px
    margin-bottom: 12px